Flask>=1.1,<1.2
Flask-Compress>=1.5,<1.6
Flask-Caching>=1.9,<1.10
Flask-Sessionstore>=0.4,<0.5
Flask-Mail>=0.9,<0.10
Flask-SQLAlchemy>=2.4,<2.5
passlib[argon2]>=1.7,<1.8
psycopg2-binary>=2.8,<2.9
requests>=2.24,<2.25
SQLAlchemy>=1.4,<1.5
Werkzeug>=1.0,<1.1
ujson>=3.0,<3.1
python-dotenv>=0.14,<0.15
itsdangerous>=1.1,<1.2
bidict>=0.21,<0.22
cyvcf2>=0.20.9
boto3>=1.16.43

# for checks
pytest-cov>=2.10,<2.11
black==19.10b0
flake8>=3.8,<3.9
