.individual-container {
  background-color: #eeeeee;
  padding: 4em;
}
.individual-tabroot {
  background-color: white;
}
.individual-bigIndicator {
  height: 3px;
  background-color: #2E84CF;
}
.individual-fab {
  z-index: 1;
  position: absolute !important;
  top: 144px;
  right: 120px;
}
.individual-tab_appbar {
  margin-top: 3rem;
  border-bottom: 1px solid #2E84CF;
}
.individual-tabPannel {
  font-size: 0.875rem;
}
