.hpo-container {
  background-color: #eeeeee;
  padding: 4em;
}

.hpo-tabroot {
  background-color: white;
}

.hpo-bigIndicator {
  height: 3px;
  background-color: #2e84cf;
}

.hpo-tab_appbar {
  margin-top: 3em;
  border-bottom: 1px solid #2e84cf;
}

.hpo-tabPannel {
  font-size: 0.875rem;
}
