.publication-root {
  padding: 4em 0 4em 0;
  background-color: #eeeeee;
}
.publication-paperlink {
  text-decoration: none;
  color: #2E84CF;
}
.publication-paperbox {
  text-indent: -1.35em;
  padding-left: 4em;
}